/* ================================= */
/* File: main.css;
/* Author: Sergey Gromov;
/* VK: vk.com/s.gromov999;
/* ================================= */

body {
  background: #eee;
  color: #333;
  font-size: 14px;
  font-weight: normal; 
  font-family: "RalewayLight";
}

a {text-decoration: none;}
button {border: none; display: block;}
a, button {transition: 0.5s;}
input, button, textarea {outline: none;}
h1, h2, h3, h4, h5, h6 {margin: 0px;}
.clear {clear: both;}

/* ==================================== GLOBAL ==================================== */

/*  HEADER LINE  */

.header_line {
	height: 100px;
	background: #fff;
}

/* LOGOTYPE */

.logo {
	margin-top: 28px;
}
.logo > h2 {
	font-size: 25px;
	font-family: "RalewayBold";
	text-transform: uppercase;
}
.logo > h2 > span {
	color: #ffc600;
}

/* HEADER NAV */

.header_nav {
	margin-top: 3px;
	float: right;
	font-size: 14px;
	font-family: "RalewaySemibold";
}
.header_nav > ul {
	list-style: none;
	margin-right: -15px;
}
.header_nav > ul > li {
	float: left;
	padding: 20px;
}
.header_nav > ul > li > a {
	color: #333;
}
.header_nav > ul > li > a:hover {
	color: #ffc600;
}

/* HEADER LINE [END] */

/* MAIN HEADER */

.main_header {
	height: 400px;
	background: url('../img/main_header.jpg') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

/* MIN DESCRIPTION */

.min_description {
	margin-top: 110px;
}
.min_description > p {
	color: #fff;
	line-height: 25px;
	font-family: "RalewayLight";
}
.inner_header_margin {
	margin-top: 150px;
}

.info {
    color: #ff394c;
    font-size: 13px;
    font-weight: bold;
    -webkit-border-radius: 40px;
    border-radius: 10px;
    outline: none;
}

/* HEADER BTN */

.header_btn {
	margin-top: 30px;
}

/* HEADER SKIN */

.header_skin {
	width: 400px;
	height: 400px;
	background: url('../img/header_skin.png') no-repeat;
}

/* MAIN HEADER [END]  */

/* FOOTER  */

.footer {
	padding-top: 40px;
	padding-bottom: 40px;
	background: #f5fbff;
}
.footer_content {
	width: 350px;
	margin: 0 auto;
	text-align: center;
}
.footer_content > h2 {
	font-size: 25px;
	font-family: "RalewayBold";
	text-transform: uppercase;
}
.footer_content > h2 > span {
	color: #ffc600;
}
.footer_content h3 {
	font-size: 14px;
	font-family: "RalewayLight";
}

/* FOOTER [END] */

/* SECTION TITLE */

.section_title {
	border-left: 5px solid #ffc600;
	padding-left: 10px;
}
.section_title h2 {
	font-size: 18px;
	font-family: "RalewayBold";
}

/* BTN BIG */

.btn_big {
	display: block;
	width: 255px;
	height: 40px;
	text-align: center;
	background: transparent;
	padding-top: 8px;
	color: #ffc600;
	font-size: 14px;
	font-family: "RalewaySemibold";
	border: 2px solid #ffc600;
}
.btn_big:hover {
	color: #ffe400;
	border: 2px solid #ffe400;
}

/* BTN STANDART */

.btn_standart {
	display: block;
	width: 100%;
	height: 40px;
	text-align: center;
	background: transparent;
	padding-top: 7px;
	color: #ffc600;
	font-size: 14px;
	font-family: "RalewayLight";
	border: 2px solid #ffc600;
}
.btn_standart:hover {
	color: #ffe400;
	border: 2px solid #ffe400;
}

/* ADMIN BTN */

.admin_btn {
	display: block;
	float: right;
	margin-top: 20px;
	width: 200px;
	height: 40px;
	text-align: center;
	background: #ffc600;
	padding-top: 3px;
	color: #000;
	font-size: 14px;
	font-family: "RalewayLight";
}
.admin_btn:hover {
	background: #ffe400;
}

/* INNER CONTAINER */

.inner_container {
	background: #fff;
	border: 1px solid #f0f0f0;
}
.inner_acontainer {
	background: #fff;
	padding: 25px;
}
.am {
	margin-top: 30px;
}
.inner_margin {
	margin-top: 30px;
}

/* INNER BTN */

.inner_btn {
	display: block;
	width: 100%;
	height: 40px;
	text-align: center;
	background: #ffc600;
	padding-top: 9px;
	color: #000;
	font-size: 14px;
	font-family: "RalewayLight";
}
.inner_btn:hover {
	background: #ffe400;
}

/* INNER TABLE */

.inner_table {
	width: 100%;
}
.inner_table_value1 {
	height: 40px;
	width: 60%;
	font-size: 14px;
	font-family: "RalewayBold";
}
.inner_table_value2 {
	height: 40px;
	width: 100%;
	font-size: 14px;
	font-family: "RalewayLight";
	text-align: right;
}

/* INNER ATABLE */

.inner_atable {
	margin-top: 20px;
	width: 100%;
}
.inner_atable th {
	text-align: left;
	padding: 10px;
}
.inner_atable td {
	padding: 10px;
}
.inner_atable td a:hover {
	color: #ffe400;
}
.inner_atable_value1 {
	height: 40px;
	width: 70%;
	font-size: 14px;
	font-family: "RalewaySemibold";
}
.inner_atable_value2 {
	height: 40px;
	width: 30%;
	font-size: 14px;
	font-family: "RalewayLight";
	text-align: right;
}
.monitoring_value {
	height: 40px;
	width: 20%;
	font-size: 14px;
	font-family: "RalewayLight";
	text-align: left;
}


/* DONATE, LOGIN BTN */

.dl_btn {
	display: block;
	width: 100%;
	height: 40px;
	text-align: center;
	background: #ffc600;
	margin-top: 20px;
	padding-top: 3px;
	color: #000;
	font-size: 14px;
	font-family: "RalewayLight";
	border:0;
}
.dl_btn:hover {
	background: #ffe400;
}

/* MAIN INPUT */

.main_input {
	color: #666;
	width: 100%;
	height: 40px;
	margin-top: 20px;
	padding-left: 15px;
	font-size: 14px;
	font-family: "RalewayLight";
	border: 1px solid #ccc;
}
.edit_input {
	color: #666;
	width: 450px;
	height: 30px;
	padding-left: 15px;
	font-size: 14px;
	font-family: "RalewayLight";
	border: 1px solid #ccc;
}
.main_textarea {
	resize: none;
	color: #666;
	width: 100%;
	height: 200px;
	margin-top: 20px;
	padding-top: 15px;
	padding-left: 15px;
	font-size: 14px;
	font-family: "RalewayLight";
	border: 1px solid #ccc;
}

/* INNER TITLE */ 

.inner_title h2 {
	font-size: 14px;
	font-family: "RalewayBold";
}

/* ############################### INDEX.HTML ################################ */
/* ----------------------------- PROJECT INFO -------------------------------- */

.project_info {
	padding-top: 80px;
	padding-bottom: 80px;
	background: #fff;
}

/* ABOUT US */

.about_us > p {
	color: #666;
	line-height: 25px;
	margin-top: 30px;
	font-family: "RalewayLight";
}

/* ADVANTAGES */

.advantages > ul {
	margin-top: 30px;
	padding: 0;
	list-style: none;
}
.advantages > ul > li {
	font-size: 15px;
	font-family: "RalewayLight";
	line-height: 33px;
	color: #666;
}
.fa_adv {
	margin-right: 10px;
	color: #3daa70;
}

/* --------------------------- PROJECT INFO [END] ----------------------------- */
/* ------------------------------- START GAME --------------------------------- */

.start_game {
	padding-top: 80px;
	padding-bottom: 80px;
	background: url('../img/start_game.jpg') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.section_title2 > h2 {
	color: #fff;
	font-size: 20px;
	font-family: "RalewayBold";
	text-align: center;
}

/* ITEMS */

.item_box {
	margin-top: 80px;
	text-align: center;
}
.fa_start {
	font-size: 50px;
	color: #ffc600;
}
.item_box > p {
	display: block;
	margin: 20px auto;
	width: 235px;
	color: #fff;
	font-family: "RalewayLight";
	line-height: 25px;
}

/* START BTN */

.start_btn a {
	margin-top: 50px;
}

/* ---------------------------- START GAME [END] ------------------------------ */
/* ------------------------------- MONITIRONG --------------------------------- */

.monitoring {
	background: url('../img/monitoring.jpg') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

/* MONITORING DATA */

.monitoring_circle {
	width: 160px;
	height: 160px;
	background: #fafafa;
	border-radius: 50%;
	padding-top: 40px;
}
.monitoring_circle > h2 {
	font-size: 19px;
	font-family: "RalewayBold";
	text-align: center;
}
.monitoring_circle > h2 > span {
	color: #ffc600;
}

/* MONITORING BTN */

.monitoring_btn {
	margin-top: 50px;
}
.btn_social {
	display: block;
	width: 300px;
	height: 50px;
	text-align: center;
	background: #ffc600;
	padding-top: 15px;
	color: #000;
	font-size: 14px;
	font-family: "RalewaySemibold";
}
.btn_social:hover {
	color: #000;
	background: #ffe400;
}

/* ---------------------------- MONITIRONG [END] ------------------------------ */
/* ################################ NEWS.HTML ################################# */

.news_box {
	margin-top: 30px;
	margin-bottom: 30px;
}

.news_img {
	height: 150px;
	background: #f8f8f8;
}
.news_top {
	padding: 20px;
	border-bottom: 1px solid #f0f0f0;
}
.news_top h2 {
	font-size: 14px;
	font-family: "RalewayBold";
}
.news_top h3 {
	float: right;
	color: #666;
	font-size: 14px;
	font-family: "RalewayLight";
}
.news_middle {
	padding: 20px;
	border-bottom: 1px solid #f0f0f0;
}
.news_middle p {
	font-size: 13px;
	font-family: "RalewayLight";
	color: #272727;
	line-height: 25px;
}
.news_bottom {
	padding: 20px;
}
.news_bottom h2 {
	color: #666;
	font-size: 13px;
	font-family: "RalewayLight";
	margin-top: 10px;
}

/* ################################ DONATE.HTML ################################# */

.donate {
	margin-top: 30px;
	margin-bottom: 30px;
}
.donate_box {
	padding: 65px;
}
.donate_box p {
	font-family: "RalewayLight";
	line-height: 25px;
}

/* ################################ LOGIN.HTML ################################# */

.login {
	margin-top: 30px;
	margin-bottom: 30px;
}
.login_box {
	padding: 65px;
}
.login_box p {
	font-family: "RalewayLight";
	line-height: 25px;
}

/* ################################ USER_CABINET.HTML ################################# */

.welcome_text h2 {
	margin-top: 150px;
	font-size: 25px;
	font-family: "RalewayBold";
	color: #fff;
	text-transform: uppercase;
}
.welcome_text h2 span {
	color: #ffe400;
}
.cabinet {
	margin-top: 30px;
	margin-bottom: 30px;
}
.cabinet_top {
	padding: 65px;
}
.player_skin {
	width: 150px;
	height: 150px;
	float: left;
	border-radius: 50%;
	border: 1px solid #f0f0f0;
	overflow: hidden;
}
.player_skin img {
	margin-top: 30px;
	margin-left: 24px;
	border-radius: 50%;
}
.player_info {
	float: left;
	margin-top: 40px;
	margin-left: 30px;
}
.player_info h2 {
	font-size: 25px;
	font-family: "RalewayBold";
	text-transform: uppercase;
}
.player_info h3 {
	font-size: 14px;
	font-family: "RalewayLight";
}
.cabinet_settings {
	float: right;
	font-size: 20px;
	margin-top: -100px;
}
.cabinet_settings a:hover {
	color: #ffe400;
}
.player_stats {
	padding: 65px;
}
.player_skills {
	padding: 30px;
}
.player_skills h2 {
	font-size: 16px;
	font-family: "RalewayBold";
	text-align: center;
}

/* ################################ USER_SETTINGS.HTML ################################# */

.user_settings {
	padding-top: 30px;
	padding-bottom: 30px;
}
.settings_box {
	padding: 65px;
	border-bottom: 1px solid #f0f0f0;
}


/* #################################### ADMIN PANEL ##################################### */

.alogin {
	margin-top: 100px;
}
.admin_header {
	height: 100px;
	background: #fff;
}
.admin_panel {
	margin-top: 30px;
}
.amenu_box {
	background: #fff;
}
.amenu_box > ul {
	margin: 0px;
	padding: 20px;
	list-style: none;
}
.amenu_box > ul > li > a {
	display: block;
	color: #333;
	font-size: 14px;
	font-family: "RalewaySemibold";
	padding-top: 10px;
	padding-bottom: 10px;
}
.amenu_box > ul > li > a:hover {
	color: #ffc600;
}

.tab {padding-right:0;}
.tab-mon {padding:10px;background: rgba(0,0,0,0.1);;cursor:pointer;}
.tab-mon.active {background: white;}